.object-wrapper {
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #FFFFFF, inset -2px -2px 0px #808080, inset 2px 2px 0px #DBDBDB;
  background: #BFBFBF;
  padding: 3px;
}

.button {
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #FFFFFF, inset -2px -2px 0px #808080, inset 2px 2px 0px #DBDBDB;
  background: #BFBFBF;
  padding: 3px;
  &:active {
    box-shadow: none;
  }
}